*{
	margin: 0;
	padding: 0;
	
	font-family: "CapieN Regular" ,dnp-shuei-gothic-gin-std, sans-serif; ;
	font-weight: 600; 
	font-style: normal; 
}

html{
	overflow: auto;
}

body{
	overflow: hidden;
	background-color: aliceblue;
	height: auto;
}

header,footer{
}

header{
	height: 50px;
	background-color: #25D653;
}

footer{
	background-color: #58D9C7;
}

.main-container div{
	width: 100%;
	background-color: white;
	margin: 0 auto;
}



h1{
	
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.nav-button{
	height: 100%;		
}

.nav-button ul{
	display: flex;
	align-items: center;
	height: 100%;
	width: auto;
}

.nav-button li{
    margin-left: 20px;
    height: 100%;
	width: auto;
    list-style: none;
}

.nav-button ul li a{
    display: block;
    text-align: mi;
    height: 100%;
}

.nav-button ul li a:hover{
	background-color: #81B381;
}
