*{
	margin: 0;
	padding: 0;
	
	font-family: "CapieN Regular" ,dnp-shuei-gothic-gin-std, sans-serif; ;
	font-weight: 600; 
	font-style: normal; 
}

html{
	overflow: auto;
	width: auto;
	height: auto;
}

body{
	overflow: hidden;
	background-color: aliceblue;
	height: auto;
}

header,footer{
}

header{
	background-color: rgb(165, 205, 60);
}

footer{
	background-color: #71A743;
}

h1{
	height: auto;
	font-size: 33px;
}

h2{
	height: auto;
	font-size: 28px;
}

p{
	font-size: 23px;
}

a{
	display: inline-block;
	height: auto;
	width: auto;
	text-decoration: none;
    color: white;
}

hr{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

a:hover{
	color: #000;
}

.nav-button{
    height: 50px;		
}

.nav-button ul{
	display: flex;
    list-style: none;
	height: 100%;
}

.nav-button li{
	height: 100%;
	width: 200px;
	text-align: center;
}


.nav-button ul li a{
    display: block;
    height: auto;
    width: auto;
    font-size: 18px;
	line-height: 20px;
	padding: 15px;
    text-decoration: none;
    color: white;
}

.nav-button ul li a:hover{
	color: #000;
	background-color: #6ACF14;
}

.main-container {
	width: auto;
	background-color: white;
	margin: 0 auto;
}

.main-container .page-abstract{
	background-color: ghostwhite;
	padding: 0 10%;
}

.page-abstract h1{
	padding: 20px; 
}

.page-abstract p{
	padding: 5px ;	
}

.last-p{
	padding-bottom: 5px;
}

.main-container .main-body{
	height: auto;
	margin: 0 10%;
	padding-top: 20px;
}

.main-body h2{
	
	padding: 20px 0 20px 2%;
}

.suffix span{
	transform: scale(0.4);
}

.last-main-body, .last-main-container{
	padding-bottom: 20px;
}

.item01 {
	transform: scale(2.5);
	right: 20%;
}

.item02{
	transform: scale(2.5);
	right: 28%;
	top: 700px;
}

@media screen and (max-width:480px){
	h1{
		height: auto;
		font-size: 25px;
	}

	h2{
		height: auto;
		font-size: 20px;
	}

	p{
		font-size: 15px;
	}
		
	.item01 {
		transform: scale(1.5);
		right: 20%;
	}

	.item02{
		background-color: #4E9343;
		transform: scale(1.5);
		right: 28%;
		top: 70%;
	}
	
}
