.crowd, .crowd:after, .crowd:before{
	position: absolute;
	display: block;
    content: "";
}

.crowd:before{
	background-color: #DDE799;
    border-radius: 5px; 
	height: 10px;
	top: -7px;
	width: 90px;
	left: -20px;
}
.crowd{
	background-color: #DDE799; 
    border-radius: 5px;
    height: 15px; 
    width: 10px;
	transform: scale(2.5);
}

.crowd:after{
	background-color: #DDE799;
    border-radius: 5px;
    height: 10px;
	width: 80px;
	top: 10px;
	left: -45px;
}

.crowd_02, .crowd_02:after, .crowd_02:before{
	background-color: rgba(221,231,153,0.80);
	position: absolute;
	display: block;
    content: "";
}

.crowd_02:before{
	
    border-radius: 5px; 
	height: 10px;
	top: -9px;
	width: 80px;
	left: -50px;
}
.crowd_02{
    height: 10px; 
    width: 10px;
	transform: scale(2.5);
}

.crowd_02:after{
    border-radius: 5px;
    height: 10px;
	width: 90px;
	top: 9px;
	left: -25px;
}