.crowd, .crowd:after, .crowd:before{
	position: absolute;
	display: block;
    content: "";
}

.crowd:before{
	background-color: #DDE799;
    border-radius: 5px; 
	height: 10px;
	top: -7px;
	width: 90px;
	left: -20px;
}
.crowd{
	background-color: #DDE799; 
    border-radius: 5px;
    height: 15px; 
    width: 10px;
	transform: scale(2.5);
}

.crowd:after{
	background-color: #DDE799;
    border-radius: 5px;
    height: 10px;
	width: 80px;
	top: 10px;
	left: -45px;
}
